# Environment
ENVIRONMENT=development
DEBUG=True

DOMAIN=yourdomain.com

# API Configuration
API_V1_STR=/api/v1
PROJECT_NAME=Orthonx
PROJECT_DESCRIPTION=FYP Backend API

HF_API_KEY=your-huggingface-api-key-here

# Security
SECRET_KEY=your-secret-key-here-change-this-in-development
ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=11520  # 8 days

# Database
POSTGRES_USER=neondb_owner
POSTGRES_PASSWORD=password123
POSTGRES_DB=db
DATABASE_URL=postgresql+asyncpg://${POSTGRES_USER}:${POSTGRES_PASSWORD}@host/${POSTGRES_DB}
SYNC_DATABASE_URL=postgresql://${POSTGRES_USER}:${POSTGRES_PASSWORD}@host/${POSTGRES_DB}

# Redis (Celery broker + backend)
REDIS_URL=redis://redis:6379
CELERY_BROKER_URL=redis://redis:6379/0
CELERY_RESULT_BACKEND=redis://redis:6379/1

# Resend (Email service)
RESEND_API_KEY=your-resend-api-key-here

# Cloudinary
CLOUDINARY_CLOUD_NAME=name_of_your_cloudinary_cloud
CLOUDINARY_API_KEY=your_cloudinary_api_key
CLOUDINARY_API_SECRET=your_cloudinary_api_secret


# CORS
BACKEND_CORS_ORIGINS=["https://example.com", "https://www.example.com"]
