
services:
  web:
    build:
      context: .
      dockerfile: docker/Dockerfile
      args:
        - HF_API_KEY=${HF_API_KEY}
    env_file:
      - .env.dev
    ports:
      - "8000:8000"
    volumes:
      - ./app:/app/app  # Mount source for live reload
      - ./alembic:/app/alembic
    command: >
      uvicorn app.main:app
      --host 0.0.0.0
      --port 8000
      --reload
    depends_on:
      - db
      - redis

  db:
    image: postgres:15-alpine
    env_file:
      - .env.dev
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

  redis:
    image: redis:7-alpine
    ports:
      - "6379:6379"

  celery:
    entrypoint: ""
    build:
      context: .
      dockerfile: docker/Dockerfile
      args:
        INSTALL_EXTRAS: dev
    env_file:
      - .env.dev
    volumes:
      - ./app:/app/app  # Mount source for live reload
    command: celery -A app.workers.celery_app worker -Q default --loglevel=INFO
    depends_on:
      - db
      - redis

  celery-beat:
    entrypoint: ""
    build:
      context: .
      dockerfile: docker/Dockerfile
      args:
        INSTALL_EXTRAS: dev
    env_file:
      - .env.dev
    volumes:
      - ./app:/app/app  # Mount source for live reload
    command: celery -A app.workers.celery_app beat --loglevel=INFO
    depends_on:
      - db
      - redis

volumes:
  postgres_data:
